/*..author: 林子大了 
  ..ver: 2016.6.18 
  ..contact: 1182874336 */


/*.....audio on/off....*/
.audio-on {
	position:fixed;
	top:1.6rem;
	right:1.5rem;
	width:2.2rem;
	padding-top:12%;
	box-sizing:content-box;
	z-index:99;
	-webkit-transform-origin:50% 50%;
	-webkit-transition:right 2s ease-out;
}
.audio-D {
	-webkit-animation:audio-on 4s linear infinite;
}
.audio-T {
	right:5rem;
	-webkit-transition-delay:5s;
}
.fadeIn-delay8s {
	-webkit-animation:fadeIn 1s linear forwards;
	-webkit-animation-delay:6s;
}
.audio-on img {
	position:absolute;
	top:0;
}
.audio-on img:last-child {
	display:none;
}
@-webkit-keyframes audio-on{
	from{-webkit-transform:rotate(0deg);}
	to{-webkit-transform:rotate(360deg);}
}

/*..loading..*/
.loadBox {
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	z-index:998;
	background-color:#fff;
}
.loading {
	display:block;
	width:2.4rem;
	margin:13rem auto 1rem auto;
	-webkit-animation:loading 2s ease-in-out infinite alternate;
}
@-webkit-keyframes  loading{
	from{-webkit-transform:translateY(-1rem);}
	to{-webkit-transform:translateY(0rem);}
}
.loading img {
	-webkit-animation:loadImg 3s ease-in-out infinite;
}
@-webkit-keyframes  loadImg{
	0%{-webkit-transform:rotateY(0);}
	30%{-webkit-transform:rotateY(0);}
	60%{-webkit-transform:rotateY(0);}
	100%{-webkit-transform:rotateY(360deg);}
}
.scaleShow {
	position:absolute;
	top:16rem;
	width:100%;
	text-align:center;
	font-size:12px;
	color:#777;
}

/*..swiper..*/
.content {
	height:100%;
	width:100%;
	position:fixed;
}
.slideNext {
	position:fixed;
	width:12%;
	bottom:1%;
	left:44%;
	z-index:4;
	padding:1rem 1rem 0.2rem 1rem;
	margin-left:-1rem;
	-webkit-animation:slideNext 3s ease-in-out infinite;
}
@-webkit-keyframes slideNext{
	from{-webkit-transform:translateY(-0.8rem);}
	to{-webkit-transform:translateY(0.2rem);}
}
.swiper-wrapper {
	height:100%;
	width:100%;
	position:relative;
}
.swiper-slide {
	height:100%;
	width:100%;
	position:relative;
	overflow:hidden;
	background:url(../img/bg.jpg) no-repeat 100% 100%;
}

/*.......首页.......*/
.indexPage {
	background:#333;
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	color:#fff;
	z-index:999;
	overflow:hidden;
}
.indexPage .name {
	font-size:1.6rem;
	font-weight:bold;
	margin-top:-4rem;
	letter-spacing:4px;
	margin-bottom:0.2rem;
}
.indexPage .label {
	font-size:0.6rem;
	margin-top:0;
}
.indexPage .icon {
	font-size:0.8rem;
	margin-top:3rem;
}
.icon > span {
	width:30%;
	height:1.6rem;
}
.icon span {
	line-height:1.6rem;
	vertical-align:top;
}
.icon > span:nth-child(1) {
	margin-left:19%;
	border-right:1px solid #fff;
}
.icon > span:nth-child(2) {
	margin-left:10%;
}
.icon img {
	width:2rem;
	display: inline-block;
}
.phone {
	width:6rem;
	height:6rem;
	position:relative;
	margin:3rem auto;
}
.circle {
	width:100%;
	height:100%;
	border-radius:50%;
	background:#444;
	position:absolute;
	top:0;
	z-index:2;
}
.border {
	width:100%;
	height:100%;
	border-radius:50%;
	background:none;
	border:1px solid #555;
	position:absolute;
	top:-1px;
	left:-1px;
	-webkit-animation:border 3s infinite ease-out;
}
.border02 {
	-webkit-animation-delay:0.5s;
}
@-webkit-keyframes border{
	0%{-webkit-transform:scale(0.9);opacity:1;}
	40%{-webkit-transform:scale(1.3);opacity:0;}
	100%{-webkit-transform:scale(1.3);opacity:0;}
}
.shake {
	width:40%;
	margin:0 auto;
	line-height:6rem;
	position:relative;
	z-index:3;
	top:31%;
	-webkit-animation:shake 3s infinite linear;
	-webkit-animation-delay:1.4s;
}
@-webkit-keyframes shake{
	0%{-webkit-transform:rotateZ(-6deg);}
	2%{-webkit-transform:rotateZ(5.8deg);}
	4%{-webkit-transform:rotateZ(-5.6deg);}
	6%{-webkit-transform:rotateZ(5.4deg);}
	8%{-webkit-transform:rotateZ(-5.2deg);}
	/*10%{-webkit-transform:rotateZ(5deg);}*/
	12%{-webkit-transform:rotateZ(4.8deg);}
	14%{-webkit-transform:rotateZ(-4.6deg);}
	16%{-webkit-transform:rotateZ(4.4deg);}
	18%{-webkit-transform:rotateZ(-4.2deg);}
	/*20%{-webkit-transform:rotateZ(-4deg);}*/
	22%{-webkit-transform:rotateZ(3.8deg);}
	24%{-webkit-transform:rotateZ(-3.6deg);}
	26%{-webkit-transform:rotateZ(3.4deg);}
	28%{-webkit-transform:rotateZ(-3.2deg);}
	/*30%{-webkit-transform:rotateZ(3deg);}*/
	32%{-webkit-transform:rotateZ(2.8deg);}
	34%{-webkit-transform:rotateZ(-2.6deg);}
	36%{-webkit-transform:rotateZ(2.4deg);}
	38%{-webkit-transform:rotateZ(-2.2deg);}
	/*40%{-webkit-transform:rotateZ(-2deg);}*/
	42%{-webkit-transform:rotateZ(1.8deg);}
	44%{-webkit-transform:rotateZ(-1.6deg);}
	46%{-webkit-transform:rotateZ(1.4deg);}
	48%{-webkit-transform:rotateZ(-1.2deg);}
	/*50%{-webkit-transform:rotateZ(1deg);}*/
	52%{-webkit-transform:rotateZ(0.8deg);}
	54%{-webkit-transform:rotateZ(-0.6deg);}
	56%{-webkit-transform:rotateZ(0.4deg);}
	58%{-webkit-transform:rotateZ(-0.2deg);}
	60%{-webkit-transform:rotateZ(0);}
	100%{-webkit-transform:rotateZ(0);}
}
.head-box {
	width:100%;
	height:17.4rem;
	background:#24e88e;
	position:relative;
}
.head-box img {
	width:30%;
	margin:0 auto;
	padding:4rem;
}
.head-box div {
	position:absolute;
	bottom:0rem;
	width:100%;
}

/*....swiper....*/
.fadeIn {
	-webkit-animation:fadeIn 1.6s linear forwards;
}
.fadeIn-2 {
	-webkit-animation:fadeIn 3s linear forwards;
}
.fadeOut-2 {
	-webkit-animation:fadeOut 2s linear forwards;
}
@-webkit-keyframes fadeIn{
	from{opacity:0;}
	to{opacity:1;}
}
@-webkit-keyframes fadeOut{
	from{opacity:1;}
	to{opacity:0;}
}

/*..01..*/
.shape {
	position:fixed;
	top:0;
	width:100%;
	height:100%;
	z-index:999;
}
.title01 {
	width: 18rem;
    opacity: 0;
    margin: 4.4rem auto -6rem auto;
}
.title02 {
	margin-bottom:-4rem;
}
.title03 {
	margin-bottom:-3rem;
}
.bgbak01 {
	width:20rem;
	margin:0 auto;
	opacity:0.1;
}
.body01 {
	width:13rem;
	height:13rem;
	margin:0 auto;
	margin-top:-12rem;
	position:relative;
}
.body01 > img:nth-child(1) {
	position:relative;
	z-index:6;
}
.build {
	position: absolute;
    top: 50%;
    width:280%;
}
.build li{
	width:50%;
    opacity: 0.4;
    float:left;
}
.build-A {
	-webkit-animation:build 20s linear infinite;
}
@-webkit-keyframes build{
	from{-webkit-transform:translateX(0);}
	to{-webkit-transform:translateX(-50%);}
}
.left01 {
	position: absolute;
    top: 41%;
    left: 5%;
    width: 16%;
    -webkit-transform-origin:50% 0%;
}
.left01-A {
	-webkit-animation:left01 1.6s ease-in-out infinite alternate;
}
@-webkit-keyframes left01{
	from{-webkit-transform:rotateZ(0);}
	to{-webkit-transform:rotateZ(-60deg);}
}
.left02 {
	position: absolute;
    top: 54%;
    left: -7%;
    width: 24%;
    -webkit-transform-origin:60% 0%;
    -webkit-transform:rotateZ(-10deg);
}
.left02-A {
	-webkit-animation:left02 1.6s ease-in-out infinite alternate;
}
@-webkit-keyframes left02{
	from{-webkit-transform:rotateZ(-10deg) translate(0,0);}
	to{-webkit-transform:rotateZ(-44deg) translate(50%,42%);}
}
.right01 {
	position: absolute;
    top: 41%;
    left: 8%;
    width: 19%;
    -webkit-transform-origin:50% 0%;
}
.right01-A {
	-webkit-animation:right01 1.6s ease-in-out infinite alternate;
}
@-webkit-keyframes right01{
	from{-webkit-transform:rotateZ(0);}
	to{-webkit-transform:rotateZ(46deg);}
}
.right02 {
	position: absolute;
    top: 55%;
    left: 17%;
    width: 21%;
    -webkit-transform-origin:60% 0%;
    -webkit-transform:rotateZ(16deg);
}
.right02-A {
	-webkit-animation:right02 1.6s ease-in-out infinite alternate;
}
@-webkit-keyframes right02{
	from{-webkit-transform:rotateZ(16deg) translate(0,0);}
	to{-webkit-transform:rotateZ(44deg) translate(-42%,50%);}
}
.wheel01 {
	position: absolute;
    top: 67%;
    left: 49%;
    width: 20%;
}
.wheel02 {
	position: absolute;
    top: 68%;
    left: 81%;
    width: 16%;
}
.wheel-A-S {
	-webkit-animation:wheel 2s linear infinite;
}
.wheel-A-B {
	-webkit-animation:wheel 4s linear infinite;
}
@-webkit-keyframes wheel{
	from{-webkit-transform:rotateZ(0);}
	to{-webkit-transform:rotateZ(360deg);}
}

/*..02..*/
.rain {
	width:18rem;
	position:absolute;
	top:36%;
	left:5%;
	z-index: 2;
    opacity: 0.5;
}
.rain02 {
	width:18rem;
	position:absolute;
	top:34%;
	left:6%;
}
.rain-A {
	-webkit-animation:rain 0.2s linear infinite;
}
@-webkit-keyframes rain{
	from{-webkit-transform:translate(0,0);}
	to{-webkit-transform:translate(10px,10px);}
}
.bgbak02 {
	width:20rem;
	margin:0 auto;
	opacity:0.2;
}
.body02 {
	width:13rem;
	height:13rem;
	margin:0 auto;
	margin-top:-17rem;
	position:relative;
} 

/*..03..*/
.body02 {
	width:12rem;
	height:12rem;
	margin:0 auto;
	margin-top:-16rem;
	position:relative;
} 
.body03 {
	
}
.mom-hand {
	position: absolute;
    top: 30%;
    left: 55%;
    width: 24%;
    -webkit-transform-origin:100% 5%;
}
.mom-A {
	 -webkit-animation:mom 02s ease-in-out infinite alternate;
}
@-webkit-keyframes mom {
	from{-webkit-transform:rotateZ(0);}
	to{-webkit-transform:rotateZ(40deg);}
}
.father-hand {
	position: absolute;
    top: 30%;
    left: 19%;
    width: 24%;
	-webkit-transform-origin:0% 5%;
}
.father-A {
    -webkit-animation:father 2s ease-in-out infinite alternate;
}
@-webkit-keyframes father {
	from{-webkit-transform:rotateZ(0);}
	to{-webkit-transform:rotateZ(-40deg);}
}
.child {
	position: absolute;
    top: 32%;
    left: 35%;
    width: 28%;
}
.child-A {
	-webkit-animation:child 2s ease-in-out infinite alternate;
}
@-webkit-keyframes child {
	from{-webkit-transform:translateY(0);}
	to{-webkit-transform:translateY(-2.2rem);}
}

/*..04..*/
.title04 {
	width:15rem;
}
.body04 {
	width:13rem;
	height:13rem;
	margin:0 auto;
	margin-top:-12rem;
	position:relative;
	opacity:0;
	left:2rem;
}
.body04 > img:nth-child(1) {
	position: relative;
    z-index: 6;
    width: 80%;
    top: -18%;
    left: 5%;
}
.wheel03 {
	position: absolute;
    top: 47%;
    left: 26%;
    width: 34%;
    z-index: 7;
    -webkit-animation:wheel 6s linear infinite;
}
.wheel-A-X {
	-webkit-animation:wheel 6s linear infinite;
}

/*..5..*/
.title05 {
	width: 10rem;
    margin: 3rem auto 1rem auto;
}
.bgbak05 {
	opacity: 1;
    margin-top: 19.6rem;
    width: 18rem;
    height: 12rem;
}
.qrcode {
	width: 6rem;
    margin: 10.4rem auto 3rem auto;
    opacity: 0;
}
.title-bottom {
	width:0;
	height:3rem;
	position:relative;
	left:50%;
	top:-7.6rem;
	margin-left:-6.5rem;
	background:url(../img/title05-bottom.png) no-repeat;
	background-size:13rem 2rem;
}
.show-A {
	-webkit-animation:show 2s linear forwards;
	-webkit-animation-delay:1s;
}
@-webkit-keyframes show{
	from{width:0;}
	to{width:14rem;}
}
.point05 ul {
	position:absolute;
	top:3rem;
	width:16rem;
	left:50%;
	margin-left:-8rem;
}
.point05 li {
	background:url(../img/description.png) no-repeat;
	height:1.8rem;
	width:0;
	background-size:15rem;
	-webkit-transform-style:preserve-3d;
}
.point05 li:nth-child(1) {
	
}
.point05 li:nth-child(2) {
	background-position-y:-1.9rem;
	-webkit-animation-delay:1s;
}
.point05 li:nth-child(3) {
	background-position-y:-3.8rem;
	-webkit-animation-delay:2s;
}
.point05 li:nth-child(4) {
	background-position-y:-5.7rem;
	-webkit-animation-delay:3s;
}
.point05 li:nth-child(5) {
	background-position-y:-7.6rem;
	-webkit-animation-delay:4s;
}
.point05 li:nth-child(6) {
	background-position-y:-9.5rem;
	-webkit-animation-delay:5s;
}
.point05 li:nth-child(7) {
	background-position-y:-11.5rem;
	-webkit-animation-delay:6s;
}
.point05 li:nth-child(8) {
	background-position-y:-13.4rem;
	-webkit-animation-delay:7s;
}
.point05 li:nth-child(9) {
	background-position-y:-15.3rem;
	-webkit-animation-delay:8s;
}
.show-D {
	-webkit-animation:show02 0.8s linear forwards;
}
@-webkit-keyframes show02{
	from{width:0;}
	to{width:100%;}
}
.share-button {
	width: 4.6rem;
    position: absolute;
    top: 1.2rem;
    right: 0.6rem;
    opacity:0;
}

/*..06..*/
.title06 {
	width:6rem;
	margin:2rem auto 1.4rem auto;
	opacity:0;
}
.callme {
	width:6rem;
	margin:0 auto;
	opacity:0;
	-webkit-transform:translateY(3rem);
	-webkit-transition:all 2s ease-out;
}
.callme-T {
	-webkit-transform:translateY(0);
}
